* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.flex {
  display: flex;
}
.grid {
  display: grid;
}
.navbar {
  background-color: #3d3232;
  justify-content: space-around;
  height: 80px;
  align-items: center;
}
.navbar a,
input {
  color: white;
  font-weight: bolder;
  font-size: 18px;
  margin-right: 15%;
  text-decoration: none;
}
.search {
  margin-left: 20%;
  position: relative;
}
.search-input {
  height: 45px;
  width: 300px;
  border: none;
  border-radius: 10px;
}
.fa-search {
  position: absolute;
  left: 8px;
  top: 30%;
}
