* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --l-gray: gainsboro;
  --silver: #c0c0c0;
  --dark-gray: #a9a9a9;
  --gray: #808080;
  --blue-gray: #d3d3d3;
  --green-gray: #696969;
  --black: #000;
}

.flex {
  display: flex;
}
.grid {
  display: grid;
}
.navbar {
  background-color: #3d3232;
  justify-content: space-around;
  height: 80px;
  align-items: center;
}
.navbar a,
input {
  color: white;
  font-weight: bolder;
  font-size: 18px;
  margin-right: 15%;
  text-decoration: none;
}
.search {
  margin-left: 20%;
  position: relative;
}
.search-input {
  height: 45px;
  width: 300px;
  border: none;
  border-radius: 10px;
}
.fa-search {
  position: absolute;
  left: 8px;
  top: 30%;
}

.section1 {
  grid-template-columns: 50% 50%;
  background-color: rgba(128, 128, 128, 0.322);
  align-items: center;
  height: 30%;
}

.section1-grid {
  padding-left: 20%;
  font-size: 30px;
  font-weight: bolder;
  width: 100%;
  padding-top: 20%;
  padding-bottom: 20%;
}
.grid1 {
  background-color: var(--silver);
}
.grid2 {
  background-color: var(--gray);
}
.grid3 {
  background-color: var(--l-gray);
}
.grid4 {
  background-color: var(--green-gray);
}

.person {
  transform: rotate(-20deg);
  margin-bottom: 30px;
  float: left;
}
.person:hover {
  transform: rotate(0deg);
}
.author {
  margin-right: 5px;
}

.comments {
  padding-bottom: 50px;
}
.section1-grid-par {
  margin-bottom: 10%;
  clear: both;
}
.User-exp {
  justify-content: space-around;
}

.User-exp p {
  font-size: 20px;
}
.section-2 {
  justify-content: space-evenly;
  margin-top: 2%;
  background-color: #ced3dc;
}
.article {
  padding: 2% 5% 3% 5%;
}
.article a {
  color: #000;
  font-size: 27px;
}
.article h1 {
  margin-bottom: 5%;
}
.article p {
  font-size: 18px;
  word-spacing: 5px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 2;
  width: 100%;
}

.left-1 {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 2;
  background-color: rgb(66, 66, 66);
  padding-bottom: 50px;
}

.right-1 {
  flex: 1;
  padding-left: 2%;
  background-color: var(--blue-gray);
}

.right-1 p {
  margin-top: 20px;
  padding-right: 100px;
  font-size: 18px;
  line-height: 30px;
  font-family: Arial, Helvetica, sans-serif;
}

.right-1 a {
  padding-right: 100px;
  font-weight: bolder;
  color: black;
  font-size: 30px;
}

.left-1 p {
  margin-top: 20px;
  width: 60%;
  text-align: center;
}

.left-1-btn {
  margin-top: 19px;
  height: 40px;
  width: 170px;
  border: none;
  border-radius: 10px;
}
.section-5 {
  background-color: var(--black);
  padding-top: 5%;
  padding-bottom: 5%;
  margin: 5%;
  border-radius: 10px;
}
.section-5 h1,
p {
  color: white;
  text-align: center;
  width: 50%;
}
.btn {
  width: 20%;
}
.section-6 {
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
}
.section-6 a {
  text-decoration: none;
  color: var(--black);
}
hr {
  width: 200px;
  margin-left: 42%;
  margin-top: 10px;
  color: var(--black);
}

.section-7 {
  width: 100%;
  margin: 0;
}
.cat-smash2-img {
  margin-top: 30px;
}
.section-8 {
  padding-top: 5%;
  padding-left: 5%;
  justify-content: space-around;
  padding-bottom: 5%;
  background-color: var(--silver);
}

.section-8 p {
  color: var(--black);
  text-align: left;
  width: 100%;
  margin-top: 20px;
  font-size: 20px;
  padding-right: 5%;
  word-spacing: 10px;
  line-height: 25px;
}
.person-of-week-img {
  flex: 1;
}
.person-of-week {
  flex: 3;
  margin-left: 5%;
}
.section-9 {
  margin-top: 10%;
  margin-left: 10%;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 10%;
}
.section-9 p {
  color: var(--black);
}
.section-9 img {
  flex: 1;
  width: 30%;
  height: 30%;
}
.grid-des {
  justify-content: space-around;
}
.grid-des1 {
  flex: 4;
  flex-direction: column;
  justify-content: space-around;
}
.grid-des1 p {
}
